{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
  {% block content %}
  {% if user.is_authenticated %}
  <p>Hi {{ user.username }}</p>
  {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
  {% endif %}
   {% for post in posts %}
    <div>
      <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
      <p>{{ post.body }}</p>
      <p>{{ post.created_at }}</p>
    </div>
  {% endfor %}
  {% endblock %}
</body>
</html>